/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2021, 11:36:14 AM
    Author     : DELL
*/

h3, h4, h5{
   display: block;
   color: #003399;
   margin-top: 5px;
   margin-left: 20%;
   margin-right: auto;
   font-size: 90%;
}
.Question_Answer{
    font-size: 150%;
    float: end;
    display: ruby-text;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 6vh;
    margin-left: 21vw;
    margin-top: 2vh;
    background: #18e06f;
    opacity: 80%;
    padding: 10px;
    width: 60vw;
    position: relative;
}
.Question_Answer:hover{
    opacity: 100%;
}
#question{
    padding-left: 5px;
}
#ansCorrect, #userAns{
    padding-left: 6px;
    padding-top: 4px;
}
.tittle{
    float: left;
    font-size: 150%;
   border:  2px solid #18e06f;
   margin-left: 5%;
}
#user{
    float:right;
    margin-right: 100px;
    margin-top: -50px;
    font-size: 120%;
}
a{
    margin-left: 6%;
    text-decoration: none;
}
a:hover{
    color: tomato;
}
@media (max-width: 1500px){
    .Question_Answer{
        margin-left: 30vw;
         width: 50vw;
    }
    #user{
        margin-right: 20px;
        font-size: 100%;
    }
}
