/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : Jan 28, 2021, 10:31:52 PM
    Author     : DELL

  
*/        #home{
            flex-direction: column;
        }
        #Time-count-down{
            font-size: 1.5vw;
             margin-left: 3vw;
        }
        #clock{
            display: flex;
            font-size: 2vw;
            margin-left: 2vw;
        }
        
        table{
            font-size: 200%;
            width: 90%;
            text-align-last: auto;
        }
        table td{
            padding: 5vw;
            padding-left: 2vw;
            width: 10vw;
        }
        table tr{
            width: 10vw;
        }